page-awarded-gigs {

    .scroll-content{
        padding:24px!important;
    }

    .awardedGigsHeader,.awardedGigsHeaderName{
        font-style: Rubik-Medium!important;
        font-size: 28px!important;
        color: #363640;
        font-weight: 600!important;
        margin-bottom: 16px!important;
    }

    .awardedGigsSubHeader{
        font-style: Rubik-Regular!important;
        font-size: 14px!important;
        color: #363640;
    }

    .viewEventBtn{
        font-family: Rubik-Regular!important;
        font-size: 14px!important;
        color: #363640;
        padding: 0px!important;
        color: #00cdac;
    }
    
    .eventTitle{
        font-family: Rubik-Regular!important;
        color: #363640!important;
        font-size: 24px!important;
    }

    .awardedGigsCard{
        border-radius: 12px!important;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px !important;
    }

    
    
    .item-md{
        color: #363640!important;
    }

    .eventGigStatusHeader,.eventPaymentStatusHeader{
        font-family: Rubik-Regular!important;
        color: #363640!important;
        font-size: 14px!important;
        letter-spacing: 0.15px;
    }

    .gigStatusSpanViewGigPageActive,.gigPaymentSpanViewGigPageActive{
        font-family: Rubik-Regular!important;
        color: rgb(117, 209, 59)!important;
        font-size: 14px!important;
        letter-spacing: 0.15px;
    }

    .gigStatusSpanViewGigPageInActive,.gigPaymentSpanViewGigPageInActive{
        font-family: Rubik-Regular!important;
        color:#e53935!important;
        font-size: 14px!important;
        letter-spacing: 0.15px;
    }

    

    .payPerDayBadge{
        background: #00cdac;
        color: white!important;
        padding: 10px!important;
        padding-left: 16px!important;
        padding-right: 16px!important;
        font-family: Rubik-Medium!important;
        font-size: 14px!important;
        letter-spacing: 0.4px;;
        font-weight: unset!important;
        border-radius: 64px!important;
        margin-bottom: 4px!important;
    }

    .awardedGigIcon{
        color: gold;
        margin:0px!important;
    }

    .endOfCard{
        border-bottom: 1px solid #e0e0e0!important; /* This creates the border. Replace black with whatever color you want. */
        padding-bottom: 8px!important;
    }
}
